
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400px>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primary{
    color:#FD6E0A;
}
/* header*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-top: 38px;
    margin-left: 18px;

}
/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin: 45px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    
    font-size: 20px;
    

}
/*banner style*/
.banner-greetings{
   color: rgb(71, 71, 71);
   font-size: 45px;
   font-weight: 600;
}
.banner-title{
   color: rgb(24, 24, 24);
   font-size: 67px;
   font-weight: 700;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px ;
}
.banner-content{
    max-width: 580px;
}
